<!DOCTYPE html>
<html lang="en">

	<head>
		<title>HW 1</title>
		
		{% load static %}
		
		<link rel="stylesheet" href="{%static 'blog/style.css'%}">
	
	
	</head>
	
	
	<body class = "bg-secondary text-white">
	

		<div class="Cool middle" >
			<h1> Figgy Code </h1>
			<h2> by: Carter Figgins </h2>
			<p> {{now}}</p>
		</div>
	
		
		
		<div class = "myBorder floatcenter">
		
			<a href = "{% url 'index' %}" class ="floatleft"> Menu </a> 
		
			<a href = "{% url 'gitNotes' %}"> Git Notes </a>
		
			<a href = "{% url 'aboutMe' %}" class ="floatright"> About Me </a>

		
		</div>
		

			
		<div>
		<p class = "big"> All About ME </p>
			<p class = italic> Things I like </p>
			<ol start = "0">
						<img  src = "{% static 'blog/USU.png' %}" alt = "USULogo" class = "floatright" width = "200">					
				<li>Programming</li>
				<li>Hang out with my wife</li>
				<li>Watch movies and cartoons</li>
				<li>Play ukulele</li>
				<li>Eating FOOD!</li>
				<li>Sports</li>
				<li>Dogs</li>
				<li>Water</li>
				<li>Snow</li>
			
			</ol>


		
		</div>
		
		
		<img  src = "{% static 'blog/cold.jpg' %}" alt = "cold"  width = "250" class = "rotateL">	
		<img  src = "{% static 'blog/dog.jpg' %}" alt = "dog"  width = "200">
		<img  src = "{% static 'blog/water.jpg' %}" alt = "water"  width = "250">	
		<img  src = "{% static 'blog/winter.jpg' %}" alt = "winter"  width = "250" class = "rotateR" >			

		
		
		
		
	
	
	</body>



</html>