<!DOCTYPE html>

<html lang ="en">

	<head>
	
		<title>HW 1</title>

		{% load static %}
		
		<link rel="stylesheet" href="{%static 'blog/style.css'%}">		

	
		
	</head>
	
	<body class = "bg-secondary text-white">
		<div class="Cool middle" >
			<h1> Figgy Code </h1>
			<h2> by: Carter Figgins </h2>
		</div>
		
		
		<p class = "big middle"> Blog Home</p>
		
		{%if latestBlog%}
		
		{% for blog in latestBlog%}

		<div>
			<h2> <a href = "{% url 'blog:blogEntry' blog.id%}">{{blog.title}}</a> </h2>
			<h3> {{blog.author}}, Posted at: {{blog.post_date}}</h3>
			<p> {{blog.content|truncatewords:200 }} </p>
			<p> Number of Comments: {{blog.comment_set.count }}</p>
			
			<p>
		
			</p>
		</div>
		{% endfor %}
		
		{%endif%}
		

		
		
		
	</body>





</html> 