<!DOCTYPE html>

<html lang ="en">

	<head>
	
		<title>HW 1</title>

		{% load static %}
		
		<link rel="stylesheet" href="{%static 'blog/style.css'%}">		

	
		
	</head>
	
	<body class = "bg-secondary text-white">
		<div class="Cool middle" >
			<h1> Figgy Code </h1>
			<h2> by: Carter Figgins </h2>
		</div>
		
		
		<p class = "big middle"> {{blog.title}}</p>
		

		<div>
			<h2> {{blog.title}} </h2>
			<h3> {{blog.author}}, Posted at: {{blog.post_date}}</h3>
			<p> {{blog.content}} </p>		
		</div>
		
		<div>
			<h2> Comments </h2>
		</div>
		
		
		{%if latestComment%}
	
		{%for comment in latestComment%}
		<div>
			<p> Posted by: {{comment.nickname}}. Email: {{comment.email}} Posted at: {{comment.post_date}} </p>
			<p>{{comment.content}} </p>
		</div>
		{%endfor%}
		{%endif%}
		
		<div>
			<h2> Add Comment </h2>
			<form action = "{% url 'blog:comment' blog.id%}" method = "post"> 
			{% csrf_token %}
			<p>
			NickName: <input type="text" name="name"> 
			Email: <input type="email" name="email">
			</p>
			<p>
			Comment: <input type="text" name="text">
			</p>
			
			<input type="submit" value = "Upload text">
			</form>
		</div>
		
		

		
		
		
	</body>





</html> 