

<!DOCTYPE html>
<html lang="en">

	<head>
		
		<title>HW 1</title>
		
		{% load static %}
		
		<link rel="stylesheet" href="{%static 'blog/style.css'%}">
	
			
	</head>
	
	
	<body class = "bg-secondary text-white">
	
			
		<div class="Cool middle" >
			<h1> Figgy Code </h1>
			<h2> by: Carter Figgins </h2>
			<p> {{now}}</p>
		</div>
		
		<div class = "myBorder floatcenter">
		
			<a href = "{% url 'index' %}" class ="floatleft"> Menu </a> 
		
			<a href = "{% url 'gitNotes' %}"> Git Notes </a>
		
			<a href = "{% url 'aboutMe' %}" class ="floatright"> About Me </a>

		
		</div>
		
		<div class = "middle">
			
			<h1> Git Cheats </h1>
			<h2> How to use git in your every day life</h2> 
			
			<table class = "middle">
			
				<tr>
					
					<th>Code</th>
					<th>Description </th>
					<th>Example </th>
					
				
				</tr>
				
				<tr>
				
					<td> git init </td>
					<td> Creates an empty Git repository. </td>
					<td> <code> git init </code></td>
					
				
				
				</tr>
				
				<tr>
				
					<td>git add</td>
					<td> Using this command adds a file or any contnet.<br> Need to use this command before a commit. </td>
					<td> <code>git add myFile.txt</code> </td>
				
				</tr>
				
				<tr>
				
					<td>git status</td>
					<td> Shows the working tree status </td>
					<td> <code> git status</code> </td>
				
				</tr>
				
				<tr>
				
					<td>git commit </td>
					<td> Record changes to the repository </td>
					<td> <code>git commit -m "Bug fix" </code> </td>
				
				</tr>
				
				<tr>
				
					<td>git push</td>
					<td> push commit to bitbucket</td>
					<td> <code>git push bloghw1</code> </td>
				
				</tr>
			
			
			
			</table>
			
			
			
		</div>
		
	
	
	</body>



</html>