<style type="text/css">

.nothingInHere{}

.Cool {
	background-color: #45aacc;
	font-family: "Courier New";
}
.big{
	font-size: 50px;
}
a{
	font-size: 20px;
	color: #45aacc;
}
div{
	margin: 20px;
	padding: 20px;
	}
.myBorder{
	border-style: solid;
	border-width: 5px;
	font-weight: bold;
	color: #45aacc;			
}

table, th, td{
	border: 5px solid #45aacc;
	padding: 5px;
	text-align: center;
	font-family: "Courier New";
}
.italic{
	font-style: italic;
}
.text-white{
	color: white;
}
.bg-secondary{
	background-color: #6C757D;
}
			
a:hover {
	color: blue;
}
body{
	margin: 0px;
}
.floatcenter{
	text-align: center;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}

.middle{
	text-align: center;
	margin: auto;
}
#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img{
	margin: 40px;
	padding: 20px;
}


.rotateR{
	transform: rotate(90deg);
}
.rotateL{
	transform: rotate(-90deg);
}

</style>